.container{
	width:60%;
	margin:auto;
	overflow:hidden;
	font-size:1.2em;
}

.btn{
	height:40px;
	width:150px;
	background:white;
	color:green;
}

header, body{
	font-family:"Arial", sans-serif;
}

header{
	margin-top:20px;
	padding-top:10px;
	text-align:center;
}

header section{
	height:100px;
	padding: 10px 20px 10px 0;
}

body{
	margin:0px;
	padding:-1px;
	background-color:#deffff;
	background:linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.65)),
	url(typing.jpg) no-repeat;
	background-size: cover;
}

body #text-case{
	margin-top: 20px;
	border:1px solid black;
	border-radius:7px;
	padding:20px 50px;
	min-height: 75px;
	overflow-wrap: break-word;
}

#typing-box{
	height:150px;
	width:100%;
	padding:7px 40px;
	border-radius:5px;
	font-size:1.2em;
	margin-top:15px;
	box-sizing: border-box;
}

.text-box{
	text-align:center;
}

#restart{
	float:right;
}

#timer{
	font-weight:bold;
	font-size:20px;
}

#timer > div{
	width:150px;
	display:inline-block;
	padding-right:20px;
}

footer {
	box-sizing: border-box;
	padding: 15px 0;
	margin-top: 83px;
	border-top: 2px solid black;
	background-color:white;
	width:100%;
}

footer h6{
	font-size:9px;
	margin-bottom:1px;
}

/* Media Queries
------------------*/
@media only screen and (min-width: 320px) and (max-width: 750px){
	.container{
		width:90%;
	}

	body{
		font-size: 0.6em;
	}
	#background-pic {
		width: 90%;
		margin: auto;
	}

	header,
	header #top-header,
	header #title,
	header nav,
	header ul,
	header li{
		float:none;
		border:none;
		border-radius:0;
		margin:0;
		padding:0;
		height:auto;
	}
	header{
		border-bottom:4px solid black;
	}
	header nav {
		padding-bottom: 10px;
	}
	header li{
		font-size:1.2em;
		padding:15px;
	}

	#title h2 {
		padding-top: 15px;
		margin-top: 0;
	}

	a{
		color:lightgrey;
	}

	#top-header, header nav{
		display:block;
		text-align:center;
	}

	#top-header{
		width:100%;
		background-color:grey;
	}

	#option-and-btns, #newsletter, #footer-nav{
		text-align:center;
	}


	body h1 ,#clock{
		font-size:15px;
	}

	.container #quote-api{
		margin-top: 5px;
		font-size: 15px;
	}

	.select-box{
		width:278px;
		padding: 5px 30px 5px 13px !important;
		font-size:10px;
		text-align-last:center;

	}

	.btn{
		font-size:10px;
		margin-top:5px;
		height:30px;
		width:135px;
	}

	#restart{
		float:none;
	}

	#clock .timer,
	#clock .WPM,
	#clock .CPM {
		margin:0;
		width:80px;
		font-size:12px;
	}

	#clock{
		text-align:center;
		margin: 15px 0;
	}

	#clock div{	
		margin-top:5px;
		margin-bottom:5px;
		padding:0;
		width:85px;
	}

	#footer-nav h6{
		font-size:8px;
	}

	#newsletter {
		margin-top: 25px;
	}
	#newsletter input{
		height:21px;
	}

}