.container{
	width:60%;
	margin:auto;
	overflow:hidden;
	font-size:1.2em;
}

.btn{
	height:40px;
	width:150px;
	background:white;
    color:red;
}

header, body{
	font-family:"Arial", sans-serif;
}

header{
	margin-top:20px;
	padding-top:10px;
	text-align:center;
}

header section{
	height:100px;
	padding: 10px 20px 10px 0;
}

body{
	margin:0px;
	padding:-1px;
}

body #text-case{
	margin-top: 20px;
	border:1px solid black;
	border-radius:7px;
	padding:20px 50px;
	min-height: 75px;
	overflow-wrap: break-word;
}

#typing-box{
	height:150px;
	width:100%;
	padding:7px 40px;
	border-radius:5px;
	font-size:1.2em;
	margin-top:15px;
	box-sizing: border-box;
}

.text-box{
	text-align:center;
}

#timer{
	font-weight:bold;
	font-size:20px;
}

#timer > div{
	width:150px;
	display:inline-block;
	padding-right:20px;
}

footer {
	box-sizing: border-box;
	padding: 15px 0;
	margin-top: 83px;
	border-top: 2px solid black;
	background-color:white;
    width:100%;
    text-align: center;
}

footer h6{
	font-size:9px;
	margin-bottom:1px;
}